html{
    scroll-behavior: smooth;
}
body {
    background-color: #edebeb;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

.subtitle {
    font-size: 1em;
}

p {
    font-size: 0.8em;
    text-align: center;
}
li{
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

figure {
    border: 5px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
}
 
.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    figure {
        border-radius: 50%;
        overflow: hidden;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .grid figure:last-child {
        grid-column: span 2;
    }
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    figure {
        border-radius: 0;
    }

    .grid figure:nth-child(3n) {
        grid-column: span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #c0c0c0;
        
    }
    .grid figure {
        background-color: #3e3e3e;
        color: #ffff99;
        border-color: black;
    }
}
